.menu
{
    background-color: #00547E;
    border-bottom: 4px solid #04A3ED;
    width:100%;
    height: 100px;
    padding: 30px 10px;
    float: left;
    margin: 0px;
    z-index: 1;
    opacity: 0.9;
    top:0px;
}

.menu  .navbar-nav > .active > a
{

    color: white;
    font-weight: bold;
}

.menu  .navbar-nav >  li >  a
{
    font-size: 16px;
    color: white;
    padding: 10px 35px;

}
.menu  .navbar-nav >  li >  a:hover
{
    background-color: #04A3ED;
}

.navbar-header > h3
{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}
.navbar-header > h3:hover
{
  /*  text-decoration: none;
    color: #04A3ED;*/
}

.adduser{
    background-color: lightgrey;
}
.inputs{
    margin-top: 20px;
    background-color: #04A3ED;
}

.btn-inputs{
    text-align: -webkit-center;
}
.four{
    margin-top:15px;
    border: 3px solid;
    padding: 0.75em;
    width: 230px;
    color: orange;
}
.two{
    margin-top: 160px;
    border: 3px solid;
    padding: 0.75em;
    width: 230px;
    color: darkblue;
}
.date-head{
    margin-top: 20px;
    border: 3px ;
    padding: 0.75em;
    width: 250px;
    color: darkblue;
}
.email {
    color: wheat!important;
    text-decoration: none!important;
}
.email:hover{
    color: darkorange!important;
}
#current-state{
    border: 2px solid;
    color: #d19b3d;
    padding: 1.7em;
    display: inline;
    /* margin-left: 600px; */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 5em;
    margin-top: -5em;
    margin-left: -15em;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
}